@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 100%;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.grid {
	list-style: none;
	display: grid;
	gap: 12px;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wrapper {
	display: flex;
	flex-direction: column !important;
	flex-wrap: wrap !important;
	height: fit-content;
	gap: 16px;
}

.header-line {
	align-items: center;
	display: grid;
	grid-template-columns: 200px minmax(340px, 580px) minmax(350px, 390px);
	gap: 24px;
	justify-content: start;
	width: 100%;
}

.header-logo {
	grid-column: 1;
}

.header-search {
	grid-column: 2;
}

.header-news {
	grid-column: 3;
}

.header-menu {
	grid-column: 1;
}

.header-menu {
	grid-column: 2;
}

.header-auth-menu {
	grid-column: 3;
}


