@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 100%;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.grid {
	list-style: none;
	display: grid;
	gap: 12px;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 12px;
}

.header-logo {
	grid-column: 1;
	grid-row: 1;
}

.header-search {
	grid-column: 2;
	grid-row: 1;
}

.header-news {
	grid-column: 3;
	grid-row: 1;
}

.header-menu {
	grid-column: 2;
	grid-row: 2;
}

.header-auth-menu {
	grid-column: 3;
	grid-row: 2;
}

